// @TODO Fonts, heading and text styles

// реализовано в normalize

$base-font-family: Verdana, arial;

body {
  font-family: $base-font-family;
  font-size: $base-font-size*0.9;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
}

